# Ignore typical output directories
dist
target
out
.webpack
# Node.js specific
node_modules
# Cache directories
.npm
.eslintcache
.tsbuildinfo
# macos specific files
.DS_Store
# test output
junit.xml
coverage
# submission file
abgabe*.zip
# other files which may be found here
*.pdf
*.log